body {
  margin: 0;
  padding: 0 200px;
  font-family: sans-serif; }

.scrollContent {
  width: 200px;
  height: 200px;
  padding: 500px; }

.yellowBox {
  background: yellow; }

.greenBox {
  background: green; }
